@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations

<div class="main-container">
    <SfAppBar CssClass="custom-appbar">
        <img src="images/windsock.png" width="30" alt="Wind sock" style="margin: 0px 10px" />
        <div style="font-size:22px; font-weight:600">
            WindStation Omiš
            <i id="@(online ? "online" : "offline")" class="bi bi-circle-fill" style="margin-left: 10px"></i>
        </div>

        <AppBarSpacer></AppBarSpacer>

        <img src="images/battery.png" width="26" alt="Battery" />
        <div style="margin-right: 5px; font-size: 18px">
            @(batteryStatus)%
        </div>
    </SfAppBar>

    <Cards></Cards>

    <div style="padding: 20px 0px">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool online = false;
    double batteryStatus = 89;
}
