@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations
@inject WindStations.Core.Interfaces.IBatteryService batteryService
@inject WindStations.Core.Interfaces.IMessagePersistenceService messageService

<div class="main-container">
    <SfAppBar CssClass="custom-appbar">
        <img src="images/windsock.png" width="30" alt="Wind sock" style="margin: 0px 10px" />
        <div style="font-size:22px; font-weight:600">
            WindStation Omiš
            <i id="@_status" class="bi bi-circle-fill" style="margin-left: 10px"></i>
        </div>

        <AppBarSpacer></AppBarSpacer>

        <img src="images/battery.png" width="26" alt="Battery" />
        <div style="margin-right: 5px; font-size: 18px">
            @(_batteryStatus)%
        </div>
    </SfAppBar>

    <Cards></Cards>

    <div style="padding: 20px 0px">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string _status = "offline";
    private uint _batteryStatus;

    protected override async Task OnInitializedAsync()
    {
        _batteryStatus = await batteryService.GetBatteryStatusAsync();

        TimeSpan timeDiff = DateTime.Now - await messageService.GetLatestTimestampAsync();

        const byte inactivityPeriod = 4;

        _status = (timeDiff.TotalMinutes > inactivityPeriod) ? "offline" : "online";
    }
}
